input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control:-moz-placeholder {
  /* Chrome/Opera/Safari */
  font-family: $inter;
}

select {
  &.form-control {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 9px !important;
  }
}

input[type="date"] {
  &.form-control {
    padding-right: 15px !important;

    &::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
    }

    &::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      width: 10px;
      height: 10px;
      border-width: thin;
    }
  }
}

input[type="checkbox"] {
  &.form-control {
    display: inline-block;
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    width: auto;
    height: auto;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      margin-bottom: 0;
      display: inline-block;
      line-height: 14px;
      padding-left: 23px;

      &:before {
        content: "";
        transition: 0.3s;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        border-radius: 20px;
        background: #d1dadd;
        border: solid 1.1px #d1dadd;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:after {
        content: "";
        transition: 0.3s;
        position: absolute;
        transform: rotate(45deg) scale(1);
        opacity: 0;
        left: 5px;
        top: 3px;
        width: 5px;
        height: 7px;
        border: solid $white;
        border-width: 0 1px 1px 0;
        background-color: transparent;
        border-radius: 0;
      }
    }

    &:not(:disabled):focus + label:before,
    &:not(:disabled):hover + label:before,
    &:not(:disabled):checked + label:before {
      background: $success;
      border-color: $success;
      outline: none;
    }

    &:not(:disabled):focus + label:after,
    &:not(:disabled):hover + label:after,
    &:not(:disabled):checked + label:after {
      opacity: 1;
    }

    &:disabled + label {
      pointer-events: none;
    }

    &:disabled + label:before {
      box-shadow: none;
      pointer-events: none;
      background-color: #d1dadd;
    }
  }
}

input[type="text"] {
  &.form-control {
    border: 1px solid #9ca3af;
    border-radius: 4px;

    height: 40px;
    min-width: 240px;

    &.input-text-sm {
      min-width: 200px;
    }

    &.input-text-m {
      min-width: 280px;
    }

    &.is-invalid {
      border-color: #dc001b;
    }
  }

  &::-webkit-input-placeholder {
    color: #9ca3af;
  }

  &:focus {
    background: #eaf0ff;

    border: 1px solid #3561c9;
  }
}

input[type="radio"] {
  &.form-control {
    display: inline-block;
    position: absolute;
    opacity: 0;
    width: auto;
    height: auto;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      margin-bottom: 0;
      display: inline-block;
      line-height: 24px;
      padding-left: 32px;

      &:before {
        content: "";
        transition: 0.3s;
        display: inline-block;
        vertical-align: text-top;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        background: $white;
        border: solid 1.1px $success;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:after {
        content: "";
        transition: 0.3s;
        position: absolute;
        top: 12px;
        left: 12px;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 12px;
        height: 12px;
        border-radius: 12px;
        background-color: $success;
      }
    }

    &:not(:disabled):focus + label:before,
    &:not(:disabled):hover + label:before,
    &:not(:disabled):checked + label:before {
      background: $white;
      border-color: $success;
      outline: none;
    }

    &:not(:disabled):focus + label:after,
    &:not(:disabled):hover + label:after,
    &:not(:disabled):checked + label:after {
      opacity: 1;
    }

    &:disabled + label {
      pointer-events: none;
    }

    &:disabled + label:before {
      box-shadow: none;
      pointer-events: none;
      background-color: $white;
    }
  }
}

.form-holder {
  background: white;
  box-shadow: 0px 2px 16px rgba(83, 108, 116, 0.1);
  border-radius: 16px;

  @include media-breakpoint-up(md) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 42px;
  }

  .btn {
    margin: 8px 0 24px 0;
    padding: 7px 24px 7px 24px;
  }
}

.form-group {
  position: relative;

  .valid-feedback,
  .invalid-feedback {
    position: absolute;
    left: 0;
    right: 0;
  }

  .field {
    margin-bottom: 16px;
  }
}

.form-control {
  background-image: none !important;

  &:invalid,
  &.invalid {
  }
}

.invalid-feedback {
  font-size: 11px;
}

.valid-feedback {
  display: none !important;
}

.form-text {
  font-size: 11px;
}
